* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Style dla górnej nawigacji */
  .topnav {
  overflow: hidden;
  background-color: #333;
  }

 /*Style dla linków górnej nawigacji*/
 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;padding: 14px 16px;
   text-decoration: none;
 }

 /*Style dla zmiany kolorów howera*/
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }

 /*Style dla treści*/
.content {
  /* background-color: #ddd; */
  padding: 20px;
  font-family: Arial, serif;
  font-size:200%;
  text-align: center;
}

/*Style dla inputow*/
.inputs {
 padding: 40px;
 margin: 8px 0;
 font-family: Arial, serif;
 font-size: 200%;
 float: left;
 display: inline-block;
 justify-content: center;
 position: absolute;
 top: 300px;
 left: 100px;
}
.inputs-names {
  padding: 10px;
  font-size:100%;
  font-family: Arial, serif;
  position: relative;
}

/* style dla przycisku submit */
}
.submitButton {


}


/* Style dla footera */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom:0;
  width: 100%;
  height: 80px;
}

.mainLogo img {
text-align: right;
width:20%;
height: auto;
position: absolute;
top: 300px;
right: 100px;
float: right;
display: inline-block;
}
