body {
  background-color:gray;
}
p{
  lont-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
img {
  display: inline-block;
  position: relative;
  border: 5px solid #4ca872;
  margin: 20px;
}
