* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  }

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Style dla górnej nawigacji */
  .topnav {
  overflow: hidden;
  background-color: #333;
  }

 /*Style dla linków górnej nawigacji*/
 .topnav a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;padding: 14px 16px;
   text-decoration: none;
 }

 /*Style dla zmiany kolorów howera*/
 .topnav a:hover {
   background-color: #ddd;
   color: black;
 }

 /*Style dla treści*/
.content {
  /* background-color: #ddd; */
  padding: 20px;
  font-family: Arial, serif;
  font-size:300%;
  text-align: center;
}

/*Style dla inputow*/
.inputs {
 padding: 10px;
 font-family: Arial, serif;
 font-size:200%;
 float: right;
 /* display: inline-block;justify-content: center; */
}
.inputs-names {
  padding: 10px;
  font-size:100%;
  font-family: Arial, serif;
  float: right;
}

/* Style dla footera */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}

.mainLogo img {
text-align: left;
width:20%;
height: auto;
/* display: inline-block;
width: 200px;
height: 200px; */
}
